@{
    ViewData["Title"] = "Cadastro";
}
<div class="container" id="banner">
    <h1 class="col-12 m-4 text-center">Faça seu cadastro para ter mais recursos no nosso site</h1>
</div>

<div class="contact" id="content-contact">

    <section>

        <div class="container">

            <div class="row">

                <!-- Formulário -->
                <div class="text-center col-5 float-right">

                    <form name="formContact">

                        <div class="form-group">
                            <label>Nome</label><br>
                            <input class="form-control" type="text" name="name" placeholder="Digite seu nome completo.">
                        </div>

                        <div class="form-group">
                            <label>E-mail</label><br>
                            <input class="form-control" type="email" name="email" placeholder="Digite seu E-mail.">
                        </div>

                        <div class="form-group">
                            <label>Telefone</label><br>
                            <input class="form-control" type="text" name="phone" placeholder="Digite seu número de telefone.">
                        </div>

                        <div class="form-group mb-5">
                            <label>Mensagem</label><br>
                            <textarea class="form-control" name="message" placeholder="Deixe o seu motivo para contato"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="btn btn-secondary" id="btnSubmitContact">Enviar</div>
                        </div>

                    </form>

                </div>
                
            </div>

        </div>

    </section>

</div>
