header {
	background-color: #dfbb00;
	min-height: 53.64px;
}

header a {
	text-align: center;
	padding: 15px;
}

header a:hover {
	text-decoration: none;
	background-color: #333;
}

header .links a:hover{
	background-color: #333;
	border-radius: 5px; 
	color: gold !important;
}

footer {
	background-color: #222;
}




/*Responsivo*/
@media (max-width: 767px){

	header .hamburguer {
		display: block!important;
	}

	header .hamburguer img {
		width: 52px;
		height: 47px;
		margin: 3px 0;
		margin-right: -5px;
	}

	header .links {
		display: none;
		padding-top: 2.5rem;
	}

	header .links a{
		text-align: right;
		width: 100%;
		float: none!important;
	}
}