@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="banner-image">
        <div class="container">

            <h1 class="text-light" id="home-h1">Jogos favoritos 2020</h1>

            <div class="col-6 float-left">
                <figure class="card" style="--bg-image-url: url();">
                    <img class="card__image" alt="Alt text here" src="~/img/card-rainbowsix.jpg">
                    <figcaption class="card__info">Tom clancy's: Rainbow Six Siege</figcaption>
                </figure>
            </div>

            <div class="col-6 float-right">
                <figure class="card" style="--bg-image-url: url();">
                    <img class="card__image" alt="Alt text here" src="~/img/card_lol.jpg">
                    <figcaption class="card__info">League of Legends</figcaption>
                </figure>
            </div>

        </div>
    </div>
</div>
