<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvcproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/brands.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/regular.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class=" navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container">
                <div class="float-left d-block mr-3" id="logo">
                    <a href="~/home" class="text-danger">
                        @*<i class="fas fa-ankh"></i>*@
                        <i class="fas fa-torii-gate"></i>
                    </a>
                </div>

                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link d-block float-left" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-block float-left" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-block float-left" asp-area="" asp-controller="News" asp-action="News">Notícias</a>
                        <li class="nav-item">
                            <a class="nav-link d-block float-left" asp-area="" asp-controller="Games" asp-action="Games">Jogos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-block float-right" id="cadastro-nav" asp-area="" asp-controller="Signup" asp-action="Signup">Cadastre-se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <div class="text-center text-danger">
                &copy; 2020 - mvcproject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
